.secondForm-container {
  min-height: 180px;
  margin-top: 16px;
  padding-top: 40px;
  text-align: center;
  background-color: white;
  /* border: 1px dashed #e9e9e9; */
  border-radius: 2px;
  margin: auto 40px auto 40px;
}

span.ant-avatar.ant-avatar-circle.ant-avatar-image {
  height: 80px !important;
  width: 80px !important;
}
input#basic_percentage.ant-input-number-input {
  color: gray;
}
